# Compiled output
packages/server/dist

# dependencies
/node_modules
packages/*/node_modules

# ENV
packages/server/.env
packages/server/.env.development
packages/server/.env.production

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
packages/server/coverage
packages/server/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# MISC
package-lock.json
