$font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

$dark-background-color: #000000;
$dark-font-color: #FFFFFF;
$dark-code-background-color: #455A64;

$light-background-color: #FFFFFF;
$light-font-color: #000000;
$light-code-background-color: #FAFAFA;

$border-color: #EAEAEA;
